  <header class="page-header">
    <h1>Admin Dashboard</h1>
  </header>



<div class="panel panel-default items">
  <table class="table table-bordered">
    <tbody>
      <tr>
        <th>Number of Products:</th>
        <th><%= @product_count %></th>
        <th><%= link_to "See All Products", [:admin, :products], class: 'btn btn-info' %></th>
      </tr>
      <tr>
        <th>Number of Categories:</th>
        <th><%= @category_count %></th>
        <th><%= link_to "See All Categories", [:admin, :categories], class: 'btn btn-info' %></th>
      </tr>
    </tbody>
   
  </table>
</div>

