<tr>
  <td>
    <h4><%= category.name %></h4>
    <br>
  </td>
  <td>
    <%= category.created_at.strftime("%d/%m/%Y at %H:%M:%S") %>
  </td>
  <td>
    <%= category.updated_at.strftime("%d/%m/%Y at %H:%M:%S") %>
  </td>
</tr>